/* iphone 4, iphone 5 */

@media screen and (min-width: 0px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav:after,
  .nav:before,
  .navbar-collapse:after,
  .navbar-collapse:before,
  .navbar-header:after,
  .navbar-header:before,
  .navbar:after,
  .navbar:before,
  .pager:after,
  .pager:before,
  .panel-body:after,
  .panel-body:before,
  .row:after,
  .row:before 
  {
    display: table;
    content: none;
  }
  #rideme {
    width: 80px;
    border-bottom: 1px solid #b1b6ff;
  }
  #rideme:hover {
    border-bottom: 1px solid #fbca30;
  }
  .navCol {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .navCol .li {
    background-color: #ffdca6;
    border: 0.1em solid black;
    border-radius: 20px;
    /* margin-top: 0.5em;
    margin-right: 0.3em; */
    width: 80%;
    height: 60px;
    /* border-radius: 0.5em; */
    /* -webkit-box-shadow: rgb(110, 110, 110) 10px 10px 10px; */
    -webkit-transition: width 1s, background-color 1s;
    transition: width 1s, background-color 1s;
    -moz-transition: width 1s, background-color 1s;
    -o-transition: width 1s, background-color 1s;
  }
  .navCol .li:hover {
    /* width: 35%; */
    background-color: #CC5153;
  }
  .navCol .li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navCol .li h1 {
    color: black;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }
  .navCol .li:hover h1 {
    color: white;
  }
  .search-adv-form {
    font-size: 1em;
  }
  .search-adv-form {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding: 0.2em 0;
    font-size: 1.4em;
    font-weight: bold;
    text-align: right;
    background-color: #ccc;
    width: 80%;
    -webkit-box-shadow: rgb(110, 110, 110) 10px 10px 10px;
  }
  /* .search-adv-form {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    font-size: 1.4em;
    text-align: right;
    width: 80%;
  } */
  .search-adv-form p {
    font-size: 14px;
    margin-right: 0.8em;
    color: green;
  }
  .search-adv-form img {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 30%;
    /* height: 25px; */
  }
  .search-adv-form select {
    font-size: 0.7em;
  }
  .search-adv-form input {
    font-size: 0.7em;
  }
  .search-adv-form textarea {
    font-size: 0.7em;
  }
  .search-adv-form div label {
    width: 4em;
    /* float: left; */
    text-align: left;
    clear: right;
    margin-left: 0.6em;
  }
  #big-div-table {
    margin: 0 auto;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    width: 90%;
    font-size: 1em;
  }
  #big-div-table #head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CC510A;
    border-bottom: 0.1em solid black;
    /* width: 100%; */
  }
  #big-div-table #head div {
    /* display: inline-table; */
    font-weight: bold;
    width: 20%;
    /* background: red; */
    /*border: 1px solid black;*/
  }
  .up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    /* background: yellow; */
    /* padding-right: 50px; */
    /* padding-left: 50px; */
    /* height: 100%; */
  }
  .up div {
    width: 20%;
    /* background: red; */
  }
  #button-div-adv {
    /* margin-right: 5em; */
  }
  .down {
    /* display: block; */
    width: 95%;
    height: 7em;
    box-shadow: 0.1em 0.3em 1em black;
    font-weight: normal;
    text-align: right;
    background-color: #e5661d;
    border: #bb4400 0.1em solid;
    margin: 0 auto;
    margin-top: 0.2em;
    color: black;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
  }
  .down-inside {
    display: flex;
    flex-direction: row;
    padding-left: 20;
    padding-right: 20;
  }
  .details-inside {
    margin-left: 10px;
  }
  #button-adv-itself {
    font-size: 1em;
    padding: 0.5em;
  }
  #button-send-button {
    margin-right: 0em;
  }
  #button-send-itself {
    font-size: 1em;
    padding: 0.1em 0.5em;
  }
  .search-adv-form div {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .search-adv-form .clear-button {
    background: #CC5153;
    width: 20px;
    height: 20px;
  }
  #advTextarea {
    text-align: right;
    margin-top: 0.5em;
    margin-right: 1.5em;
    width: 80%;
    height: 4em;
  }
  .date-time {
    display: flex;
    align-items: center;
  }
  .date-time input {
    width: 60px;
  }
  .react-datepicker-wrapper {
    margin: 0 !important;
  }
  .react-datepicker__input-container {
    margin: 0 !important;
  }
}

@media screen and (min-width: 400px) {
  .details-inside {
    margin-left: 55px;
  }
}

@media screen and (min-width: 768px) {
  #advTextarea {
    margin-right: 1.5em;
    width: 80%;
  }
  .navCol .li {
    width: 100%;
  }
  .details-inside {
    margin-left: 200px;
  }
}

@media screen and (min-width: 990px) {
  .search-adv-form p {
    font-size: 1em;
  }
  .search-adv-form select {
    font-size: 0.8em;
  }
  .search-adv-form img {
    display: block;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 20%;
  }
  .details-inside {
    margin-left: 400px;
  }
}