body {
  background-color: #b1b6ff;
  direction: rtl;
  text-align: center;
  font-family: Arial;
}

* {
  padding: 0px;
  margin: 0px;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

.car {
  display: none;
  position: absolute;
  left: 42%;
  bottom: 120%;
  width: 1em;
}

footer {
  width: 100%;
  border-top: 0.1em solid gray;
  position: fixed;
  bottom: 0px;
  background-color: #117a8b;
  color: black;
  font-size: 1.5em;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
}

footer a {
  color: black;
  text-decoration: none;
}

footer:hover {
  background-color: #CC5153;
  color: white;
}

footer:hover div {
  color: white;
}

.li:hover .car {
  display: block;
}

.is-closed {
  justify-content: space-between;
  align-items: 'center';
  height: 1.9em;
  font-weight: normal;
  background-color: #CC870A;
  /* line-height: 1.5em; */
  border-bottom: 0.1em solid #b1b6ff;
  /* width: 100%; */
  transition: height 1s;
  -moz-transition: height 1s;
  -webkit-transition: height 1s;
}

.is-closed:hover {
  background-color: #CC5153;
}

.is-open {
  flex-direction: 'column';
  height: 11em;
  font-weight: bold;
  background-color: #CC5153;
  line-height: 1.5em;
  border-bottom: 0.1em solid #b1b6ff;
  color: white;
  -webkit-transition: height 1s;
  transition: height 1s;
  -moz-transition: height 1s;
}

div span {
  font-size: 0.8em;
}

#button-div-adv {
  margin-right: 5em;
}

#button-adv-itself {
  border-radius: 1em;
  background-color: #ffcd7f;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  padding: 0.5em;
}

#button-adv-itself:hover {
  cursor: pointer;
  background-color: #1EC7E6;
}

/*contact form----------------------------------------------------------------------------------*/

div#instant-message {
  padding: 0.5em 0.5em;
  position: relative;
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  background-color: #ccc;
  width: 60%;
  font-family: Arial;
  font-size: 1.5em;
  text-align: right;
  -webkit-box-shadow: rgb(110, 110, 110) 10px 10px 10px;
}

/*about----------------------------------------------------------------------------------*/

div#about {
  width: 60%;
  background-color: #ccc;
  display: inline-block;
  margin-top: 2em;
  font-size: 1.5em;
  font-family: Arial;
  line-height: 1.5em;
  -webkit-box-shadow: rgb(110, 110, 110) 10px 10px 10px;
  padding: 0.5em 0.5em;
}

div#about h3 {
  text-decoration: underline;
}

.star {
  color: red;
}

#Clip-arts {
  margin-top: 1em;
}